RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^view/([a-zA-Z0-9-_]+)$ index.php?action=$1 [NC,L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^view/([a-zA-Z0-9-_]+)/([a-zA-Z0-9-_]+)$ index.php?action=$1&id=$2 [NC,L]